body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.profile-picture {
    /* Estilo para la foto de perfil */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    /* Agrega más estilos según tus preferencias */
}

h1 {
    margin-top: 10px;
}

.about-me{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}
.contact {
    background-color: #333;
    color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555; /* Cambiar a un tono más ligero */
}

button img {
    margin-right: 5px;
}
